@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Exo+2:wght@900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  /* font-family: 'Abril Fatface', cursive; */
}
:root {
  --var-color-text: #116530;
  --var-font-text: "Poppins", sans-serif;
}

/* Bagian Rizki========================= */
main {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 5rem;
}
main > section {
  width: 90%;
  height: 100%;
  margin: auto;
}
/* our-menu */
.box-our-menu {
  position: relative;
  width: 100%;
  height: 10vh;
}
.box-our-menu img {
  width: 100%;
}
.box-our-menu img:nth-child(2) {
  position: absolute;
  top: -1.5em;
  left: 32%;
  width: 35%;
}
/* box-name-pizza */
main > section .box-name-pizza {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.box-name-pizza .box-name-all {
  width: 100%;
  height: 100%;
  flex: 0 0 33.3%;
  margin: auto;
  padding-left: 3%;
}
.box-name-pizza .box-name-all img:first-child {
  width: 332px;
  height: 471px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.box-name-pizza .box-name-all img:nth-child(2) {
  position: absolute;
  top: 19rem;
  width: 200px;
  margin-left: -17rem;
  height: 48px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* box-about-us */
main > section .box-about-us {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  margin-top: 15%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: var(--var-font-text);
}
.box-about-us .box-about-text {
  width: 100%;
  height: 100%;
  flex: 0 0 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box-about-text1 {
  width: 100%;
  height: 20%;
}
.box-about-text1 img {
  width: 415px;
  height: 91px;
}
.box-about-text2 {
  width: 100%;
  height: 30%;
}
.box-about-text2 img {
  width: 266px;
  height: 115px;
}
.box-about-text3 {
  width: 70%;
  margin: auto;
  height: 50%;
  text-align: justify;
}
.box-about-text3 p,
.box-about-text3 span {
  margin-top: -2rem;
  color: var(--var-color-text);
  font-size: 12px;
}
.box-about-text3 span {
  font-size: 14px;
  font-weight: bold;
}
.box-about-us .box-about-temp {
  margin-top: 4rem;
  width: 100%;
  height: 589px;
  flex: 0 0 50%;
}
@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
.box-about-temp div#slider {
  overflow: hidden;
}
.box-about-temp div#slider figure img {
  width: 20%;
  border-radius: 5px;
  float: left;
}
.box-about-temp div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}

/* Bagian eka ===========================*/

body {
  background-image: url("../img/PAGE-5/BG\ TEXTURE.png");
  background-size: cover;
}
header {
  height: 750px;
  background-image: url("../img/PAGE-1/pizza-page-1.png");
  background-size: 77%;
  background-position: right;
  background-repeat: no-repeat;
}
header .top-red img {
  height: 61px;
  width: 100%;
}
header nav {
  display: flex;
  margin-left: 130px;
}
header .logo img {
  height: 80px;
  margin-right: 30px;
}
header nav ul {
  display: flex;
  list-style: none;
}
header nav ul li {
  padding: 30px;
}
header nav ul li a {
  color: #007c51;
  text-decoration: none;
  font-family: "Exo 2", sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
}
header .title-web {
  margin-left: 130px;
  margin-top: 100px;
}
header .title-web img {
  width: 600px;
}
header .title-web p {
  margin-top: 30px;
  color: #007c51;
  text-align: justify;
  width: 600px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
header .order-now {
  margin-top: 50px;
  width: 350px;
  padding: 15px;
  background-color: #f70008;
  color: white;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  border-radius: 0 50px 50px 0;
}
.slider-gojek {
  margin-top: -35px;
  background-color: #058054;
  /* height: 100px; */
}
.slider-gojek img {
  height: 100px;
}
.signature {
  width: 100%;
  margin-top: 50px;
  padding-top: 100px;
  display: flex;
  margin: auto;
  justify-content: center;
}
.signature .pizza {
  width: 45%;
  margin-left: 50px;
}
.signature .pizza H1 {
  color: #f70008;
  font-family: "Exo 2", sans-serif;
  letter-spacing: 3px;
  font-size: 40px;
}
.signature .pizza p {
  font-family: "Poppins", sans-serif;
  color: #058054;
  width: 90%;
}
.signature .pizza .size img {
  width: 470px;
  margin-top: 10px;
}
.signature .definet {
  width: 45%;
}
.signature .definet .quotes {
  width: 550px;
  margin: 30px;
  margin-top: -25px;
}
.signature .definet .icon-pizza img {
  width: 140px;
  margin-top: -60px;
}

.superior {
  width: 100%;
  margin-top: 80px;
}
.superior img {
  width: 100%;
}
